.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 20px;
    height: 65px;
    width: 100%;
    background: linear-gradient(transparent, rgb(82, 8, 72));
    background-color: rgb(36, 18, 100); 
}